.animate {
  -webkit-animation: cssAnimation 0.456s 1 ease;
  -moz-animation: cssAnimation 0.456s 1 ease;
  -o-animation: cssAnimation 0.456s 1 ease;
}
@-webkit-keyframes cssAnimation {
  from { -webkit-transform: rotate(0deg) scale(0.955) skew(0deg) translate(0px); }
  to { -webkit-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
  from { -moz-transform: rotate(0deg) scale(0.955) skew(0deg) translate(0px); }
  to { -moz-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimation {
  from { -o-transform: rotate(0deg) scale(0.955) skew(0deg) translate(0px); }
  to { -o-transform: rotate(0deg) scale(1.0) skew(0deg) translate(0px); }
}

.spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -55px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

@media (min-width: 992px){
  .typo-line{
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category{
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}

.icon-section {
  margin: 0 0 3em;
  clear: both;
  overflow: hidden;
}
.icon-container {
  width: 240px;
  padding: .7em 0;
  float: left;
  position: relative;
  text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
  color: #000;
  position: absolute;
  margin-top: 3px;
  transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
  font-size: 2.2em;
  margin-top: -5px;
}
.icon-container:hover .icon-name {
  color: #000;
}
.icon-name {
  color: #aaa;
  margin-left: 35px;
  font-size: .8em;
  transition: .3s;
}
.icon-container:hover .icon-name {
  margin-left: 45px;
}

.places-buttons .btn{
  margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.sidebar .nav > li.active-pro a{
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
  text-align: center;
}
