<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let card of cards">
                            <td>{{card.id}}</td>
                            <td><img src="{{card.image_front}}"></td>
                            <td>{{card.card_type}}</td>
                            <td>{{card.name}}</td>
                            <td>{{card.published_start | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{card.published_end | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>